<% if @game.current_turn != @game.player_one %>
<%=@game.player_one.name%> attacked <%=@game.player_two.name%>
<% else %>
<%=@game.player_two.name%> attacked <%=@game.player_one.name%>
<% end %>
<form action="/play">
  <input type="submit" value="Proceed">
</form>